
/* Align -  The prefix for this style should be `.u-`
   ----------------------------------------------------------------- */

// Text
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}
.u-text-justify {
  text-align: justify;
}